html, body {
    padding: 0px;
    margin: 0px;
    color:white;
    background: #2b0d3b;
}

h1 {
    font-family: 'Lato';
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

h4 {
    font-family: 'Lato';
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.code {
    font-family: 'Menlo';
    font-size: 11px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
    line-height: 18px;
}

p {
    font-family: 'Lato';
    font-size: 13px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
    line-height: 18px;
}

b {
    font-family: 'Menlo';
    font-size: 13px;
    color:#b5e2ef;
}